*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build/compile
build/depcomp
build/install-sh
build/missing
config.h
config.h.in
config.log
config.status
configure
src/.deps/
src/Makefile
src/Makefile.in
src/xmlconf
src/xmlconf.exe
src/xmlconf.o
srclib/expat/.libs/
srclib/expat/Makefile
srclib/expat/config.log
srclib/expat/config.status
srclib/expat/examples/.libs/
srclib/expat/examples/elements
srclib/expat/examples/elements.exe
srclib/expat/examples/elements.o
srclib/expat/examples/outline
srclib/expat/examples/outline.exe
srclib/expat/examples/outline.o
srclib/expat/expat_config.h
srclib/expat/lib/.libs/
srclib/expat/lib/xmlparse.lo
srclib/expat/lib/xmlparse.o
srclib/expat/lib/xmlrole.lo
srclib/expat/lib/xmlrole.o
srclib/expat/lib/xmltok.lo
srclib/expat/lib/xmltok.o
srclib/expat/libexpat.la
srclib/expat/libtool
srclib/expat/xmlwf/.libs/
srclib/expat/xmlwf/codepage.o
srclib/expat/xmlwf/readfilemap.o
srclib/expat/xmlwf/unixfilemap.o
srclib/expat/xmlwf/xmlfile.o
srclib/expat/xmlwf/xmlwf
srclib/expat/xmlwf/xmlwf.exe
srclib/expat/xmlwf/xmlwf.o
srclib/libtool.m4
srclib/ltoptions.m4
srclib/ltsugar.m4
srclib/ltversion.m4
srclib/lt~obsolete.m4
srclib/zlib/Makefile
srclib/zlib/Makefile.in
srclib/zlib/aclocal.m4
srclib/zlib/autom4te.cache/
srclib/zlib/config.guess
srclib/zlib/config.log
srclib/zlib/config.status
srclib/zlib/config.sub
srclib/zlib/configure
srclib/zlib/install-sh
srclib/zlib/libtool
srclib/zlib/libz.a
srclib/zlib/libz_a-adler32.o
srclib/zlib/libz_a-compress.o
srclib/zlib/libz_a-crc32.o
srclib/zlib/libz_a-deflate.o
srclib/zlib/libz_a-infback.o
srclib/zlib/libz_a-inffast.o
srclib/zlib/libz_a-inflate.o
srclib/zlib/libz_a-inftrees.o
srclib/zlib/libz_a-trees.o
srclib/zlib/libz_a-uncompr.o
srclib/zlib/libz_a-zutil.o
srclib/zlib/ltmain.sh
srclib/zlib/missing
stamp-h1

