*~
*.[oa]
*.l[oa]
*.exe
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build/compile
build/depcomp
build/install-sh
build/missing
config.h
config.h.in
config.log
config.status
configure
src/.deps/
src/Makefile
src/Makefile.in
src/xmlconf
src/xmlconf.exe
srclib/expat/.libs/
srclib/expat/Makefile
srclib/expat/config.log
srclib/expat/config.status
srclib/expat/examples/.libs/
srclib/expat/examples/elements
srclib/expat/examples/outline
srclib/expat/expat_config.h
srclib/expat/lib/.libs/
srclib/expat/libtool
srclib/expat/xmlwf/.libs/
srclib/expat/xmlwf/xmlwf
srclib/libtool.m4
srclib/ltoptions.m4
srclib/ltsugar.m4
srclib/ltversion.m4
srclib/lt~obsolete.m4
srclib/zlib/Makefile
srclib/zlib/Makefile.in
srclib/zlib/aclocal.m4
srclib/zlib/autom4te.cache/
srclib/zlib/config.guess
srclib/zlib/config.log
srclib/zlib/config.status
srclib/zlib/config.sub
srclib/zlib/configure
srclib/zlib/install-sh
srclib/zlib/libtool
srclib/zlib/ltmain.sh
srclib/zlib/missing
stamp-h1

